.body{
    font-family: itality;
}
.title{
    font-style: italic;
    text-decoration: underline;
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: bold;
    text-align: center;
    height: 5em;
    padding: 2em 6%;
    background: #2c3e50;
    color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10;
}
.topmenu .user{
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    right: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    position: fixed;
    top: 3%;
    z-index: 99;
}
.adress{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    height: 2em;
    padding: 2em 5%;
    background: #2c3e50;
    color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.text{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
